@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Meta;
    src: url(/font/FontsFree-Net-Miedinger-W01-Bold.ttf);

}


body {
    font-family: "Poppins", sans-serif;
    color: #000;
    background-color: #F5F5F7;
    overflow-x: hidden;
}


.hea {
    font-family: Meta;
}

.canvas {
    width: 600px;
    height: 600px;
}