@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Meta;
    src: url(../public/font/FontsFree-Net-Miedinger-W01-Bold.ttf);

}
h1 {
    font-family: Meta;
}

body {
    
    color: #000;
    background-color: #F5F5F7;
    height: 5000px;
}

.canvas {
    width: 600px;
    height: 600px;
}